.post-card {
    background-color: rgba($color-primary, 0.1);
    margin: 2em auto;
    width: 60%;
    border-radius: 0.75em;
    font-size: 1em;
    overflow: hidden;
    .card-footer {
        text-align: center;
        font-size: 0.8em;
    }
    .card-content {
        padding: 0 1em;
    }
}

.post-form {
    width: 60%;
    margin: 2em auto;
}

.post-form .button {
    display: block;
    width: 25%;
}

.card-footer-link {
    text-align: center;
    margin-top: 1em;
    padding: 1.2em 2em;
    font-weight: bold;
    border-top: $color-primary 1px solid;
    border-bottom: $color-primary 1px solid;
}

.breadcrumb ol,
.breadcrumb ul {
    justify-content: center;
}

/**
* Pagination
*/

.pagination {
    margin: 0 auto;
    width: 50%;
    justify-content: space-between;
    flex-wrap: wrap;
}

/**
 * Media queries
 * Posts card
 *
 */
@media screen and (max-width: 960px) {
    .post-form,
    .post-form .button,
    .post-card {
        width: 100%;
    }
}
