$color-danger: rgb(241, 70, 104);
$color-success: rgb(35, 209, 96);
$color-primary: rgb(0, 132, 164);

$text-heading: rgb(0, 132, 164);
$background-primary: hsl(0, 0%, 98%);
$background-menu: hsl(0, 0%, 71%);

$button-default: #4a4a4a;
$button-color: hsl(0, 0%, 98%);
